html {
  font-size: 20px;
  text-align: center;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 4px 3px 5px darkgray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.color-pink {
  color: rgb(255, 192, 203);
}

.color-skyblue {
  color: skyblue;
}

#basic p {
  font-weight: bold;
}